In [27]:
import pymongo as p
client=p.MongoClient("mongodb://localhost:27017/")
db=client["Department"]
mycol=db["Telephone_Directory"]

In [19]:
print(client.list_database_names())

['admin', 'config', 'database', 'db1', 'local', 'mydatabase', 'mydb']

# Insert the records:

In [20]:
dict1={'Name':"Gokul",'Phone_no':239456,'Place':"Thootukudi"}
x=mycol.insert_one(dict1)
dict2=[{'Name':"Vishak",'Phone_no':240219,'Place':"Bhavanisagar"},{'Name':"Kumar",'Phone_no':240249,'Place':"Erode"}]
x=mycol.insert_many(dict2)

# 2) Query the records:

In [21]:
x=mycol.find()
for i in x:
    print(i)

{'_id': ObjectId('63a2862cc19603dc98bf9416'), 'Name': 'Gokul', 'Phone_no': 239456, 'Place': 'Thootukudi'}
{'_id': ObjectId('63a2862dc19603dc98bf9417'), 'Name': 'Vishak', 'Phone_no': 240219, 'Place': 'Bhavanisagar'}
{'_id': ObjectId('63a2862dc19603dc98bf9418'), 'Name': 'Kumar', 'Phone_no': 240249, 'Place': 'Erode'}

# 3) Update the records:

In [28]:
myquery={'Place':{"$lt":"K"}}
newvalues={"$set":{"Place":"Sathyamangalam"}}
x=mycol.update_one(myquery,newvalues)
x=mycol.find()
for i in x:
    print(i)

{'_id': ObjectId('63a2862cc19603dc98bf9416'), 'Name': 'Gokul', 'Phone_no': 239456, 'Place': 'Thootukudi'}
{'_id': ObjectId('63a2862dc19603dc98bf9417'), 'Name': 'Vishak', 'Phone_no': 240219, 'Place': 'Sathyamangalam'}
{'_id': ObjectId('63a2862dc19603dc98bf9418'), 'Name': 'Kumar', 'Phone_no': 240249, 'Place': 'Sathyamangalam'}

# 4) Delete the record:

In [29]:
x=mycol.delete_one({'Phone_no':240249})

In [30]:
x=mycol.find()
for i in x:
    print(i)

{'_id': ObjectId('63a2862cc19603dc98bf9416'), 'Name': 'Gokul', 'Phone_no': 239456, 'Place': 'Thootukudi'}
{'_id': ObjectId('63a2862dc19603dc98bf9417'), 'Name': 'Vishak', 'Phone_no': 240219, 'Place': 'Sathyamangalam'}